* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color: #1f2937;
}

.header {
    min-height: 480px;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
    padding-bottom: 80px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    justify-content: space-around;
}

a,
.hero-subtext,
.text-lower {
    color: #e5e7eb;
    font-size: 18px;
}

a {
    text-decoration: none;
}

.hero-subtext {
    padding-bottom: 16px;
}

.logo,
.text-upper {
    color: #f9faf8;
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 0 240px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;
}

.hero-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 16px;
}

.container button,
.right button {
    cursor: pointer;
    width: 120px;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    background: #3882f6;
    color: white;
}

.container button {
    border: 1px solid #3882f6; 
}

.right button {
    border: 1px solid #f9faf8;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 480px;
    padding: 16px;
}

.information-header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 16px;
}

.button-container {
    display: flex;
    padding: 0 240px;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    gap: 40px;
}

.button-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}

.button {
    border: 3px solid #3882f6;
    cursor: pointer;
    border-radius: 8px;
    width: 160px;
    height: 160px;
}

.button img {
    border-radius: 7px;
    width: 154px;
    height: 154px;
}

.text {
    text-align: center;
    font-size: 18px;
    padding: 8px;
}

.quote {
    background-color: #e5e7eb;
    min-height: 480px;
    display: flex;
    flex-direction: column;
    padding: 80px;
    align-items: center;
}

.actual-quote {
    padding: 0 240px;
    padding-top: 80px;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
}

.by-whom {
    padding-top: 8px;
    padding-left: 600px;
    font-size: 18px;
}

.peddle {
    display: flex;
    min-height: 420px;
    padding: 120px;
    flex-direction: column;
    align-items: center;
}

.blue-box {
    display: flex;
    width: 1200px;
    background-color: #3882f6;
    border-radius: 8px;
    flex: 1;
    padding: 0 180px;
    justify-content: space-between;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    min-height: 72px;
    display: flex;
    color: #f9faf8;
    justify-content: center;
    align-items: center;
}